In [36]:
# Load libraries
from sklearn.ensemble import AdaBoostClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn import datasets
# Import train_test_split function
from sklearn.model_selection import train_test_split
#Import scikit-learn metrics module for accuracy calculation
from sklearn import metrics
import pandas as pd
import numpy as np

In [37]:
# Load the dataset
data = pd.read_csv("cleaned_data/cleaned_asylum_seekers_added.csv")
data = data[data['HDI'] != '..']
data = data.dropna()
decimals = 2    
data['Unemployment rate'] = data['Unemployment rate'].apply(lambda x: round(x, decimals))
data['origin_to_target_dist'] = data['origin_to_target_dist'].apply(lambda x: round(x, decimals))
data.head()
data['HDI'] = data['HDI'].astype('float64')

In [38]:
col_names = [   'HDI','Encoded Target Country', 'Encoded procedure type'] # Declare the columns names

X = data[col_names] # 
y = data['accepted/rejected'] # Target Variable

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3) # 70% training and 30% tes

In [43]:
# Create adaboost classifer object
abc =AdaBoostClassifier(n_estimators=50, base_estimator=DecisionTreeClassifier(),learning_rate=1)

# Train Adaboost Classifer
model = abc.fit(X_train, y_train)

#Predict the response for test dataset
y_pred = model.predict(X_test)

In [44]:
print(metrics.classification_report(y_test, y_pred, target_names=['0','1','2','3']))
df=pd.DataFrame({'Actual':y_test, 'Predicted':y_pred})
df

              precision    recall  f1-score   support

           0       0.83      0.99      0.90     26704
           1       0.31      0.03      0.06      3443
           2       0.22      0.01      0.02      1481
           3       0.60      0.21      0.31      1024

   micro avg       0.82      0.82      0.82     32652
   macro avg       0.49      0.31      0.32     32652
weighted avg       0.74      0.82      0.76     32652

        Actual  Predicted
90727        0          0
73835        0          0
92561        0          0
51616        0          0
31418        0          0
109322       0          0
58531        0          0
95202        0          0
78152        0          0
75069        0          0
9983         0          0
89145        0          0
22178        0          0
48595        0          0
99118        0          0
47098        0          0
10676        0          0
67015        0          0
83610        0          0
58637        0          0
35571        0          0
91228        0          0
5513         3          0
2095         2          0
96628        0          0
101044       0          1
47844        0          0
26659        0          0
5452         1          0
68713        0          0
...        ...        ...
17266        0          0
21496        0          0
76355        0          0
100767       0          0
5509         2          0
107561       0          0
59299        0          0
63447        0          0
20021        0          0
2981         1          0
96488        1          0
85614        0          0
102782       0          0
23878        0          0
34843        1          0
77358        0          0
23377        0          0
48267        1          0
70445        0          0
11867        0          0
81701        0          0
88756        0          0
56731        0          0
45629        0          0
105988       0          0
35624        3          3
19507        0          0
93674        2          0
42314        0          0
37031        0          0

[32652 rows x 2 columns]